$base-theme: #f4a261; // Updated to an orange-based color
:root {
  --base-theme: #c26a23; // Main orange theme color
  --base-theme-light: #fff4eb; // Light orange shade
  --base-theme-dark: #e76f51; // Dark orange shade

  --base-theme-font-color-light: #ffe8d6; // Light font color
  --base-theme-font-color-dark: #6a2c1a; // Dark font color
}
;.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(101, 48, 48);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.image-list-item-bar-title {
  white-space: pre-line; /* This will render the newline character */
}

