$base-theme: #ae7fc4;
:root{
  --base-theme: #a86ac5; // Define the variable here
  --base-theme-light: #f2e6f0;
  --base-theme-dark: #8b5c8b;
  
}
;.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(101, 48, 48);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.image-list-item-bar-title {
  white-space: pre-line; /* This will render the newline character */
}

